html {
    scroll-behavior: smooth;
}

::selection {
    color: black;
    background: #4f8998;
}


/* styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* consider Source Sans as new font-family */
    background: linear-gradient(to bottom right, #000000, #8a8585);
    height: 100vh;
    color: #fff;
}

#top {
    /* background: linear-gradient(to bottom right, #000000, #8a8585); */
    height: fit-content;  
    padding-bottom: 40px;
    margin-bottom: -10px;
}

.is-hidden {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.is-shown {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

#header-h1 {
    /* font-family: 'Old Standard TT', serif; */
    margin-top: 50px;
}

.title {
    color: white;
}

.subtitle {
    color: white;
}

p {
    margin-right: 10px;
    margin-bottom: 10px;
}

#h2-form {
    color: #4f8998 !important;
    position: relative;
    top: 30px;
    /* left: 20px; */
}

form {
    /* max-width: 600px; */
    margin: auto;
    margin-top: 50px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

/* .modal-content {
    background-color: #4f8998;
    padding: 20px;
    border-radius: 10px;
} */

.saved-video {
    width: 100%;
}

.moviepic {
    height: 165px;
    margin: 0;
    position: relative;
    float: right;
    margin-top: 48px;
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.genre-label {
    position: relative;
    top: 50px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

button {
    background-color: #4f8998;
    color: #fffefe;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
}

#generate-btn {
    margin-left: 0!important;
}

button:hover {
    box-shadow: inset 0px 0px 8px #ffffff , 0 0 15px #4f8998;
    background-color: #000000;
}

#movie-choice {
    background-color: #111;
}

#movie-choice-title {
    text-align: center;
}

#resultNotification {
    background-color: black;
    color: white;
}

.footer {
    padding: 25px;
    margin-top: auto;
    margin-bottom: 0px;
    background-color: #333;
    text-align: center;
}

/* .responsive-gif {
    max-width: 100%;
    height: auto;
} */


/* dynamic interactions */

/* used to hide generated movie prior to form being submitted */
.hidden {
    display: none;
}

/* widescreen */
@media (min-width: 1216px) {
  #selected-trailer {
    width: 750px;
    height: 441px;
  }
}

@media (min-width: 1101px) {
    .section {
        height: auto;
    }

    #top {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    form {
        margin-bottom: 50px;
    }
}

@media (max-width: 1200px) and (min-width: 1101px) {
    .column-buttons {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    #store-movie {
        margin-top: 0px;
    }

    #selected-trailer {
        width: 100%;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
  
    /* zackbmz : adjust scroll up button so it doesnt overlap */
    .is-shown {
        bottom: 17px;
        right: -11px;
      }
      .column-buttons {
        margin-right: 0rem !important;
      }
}
@media (max-width: 400px) {
  
    /* zackbmz : adjust scroll up button so it doesnt overlap */
    .is-shown {
        bottom: 3px;
        right: -2px;
      }

}

@media (max-width: 1100px){
    #selected-movie-info {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
    }

    #selected-trailer {
        width: 100%;
    }

    #selected-synopsis {
        margin-bottom: 30px;
    }
}

@media (max-width: 1101px) and (min-width: 769px) {

    #selected-movie-info {
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .column-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    form {
        margin-top: 10px;
    }

    #header-h1 {
        margin-top: 10px;
    }

    #top {
        background: linear-gradient(to bottom right, #000000, #8a8585);
    }

    #new-movie-btn,
    #store-movie {
        margin-top: 0px;
    }
}

/* genre button */
@media (max-width: 852px) and (min-width: 769px) {

    .genre-label {
        position: relative;
        top: 15px;
    }
}

@media (max-width: 768px) and (min-width: 508px) {

    .genre-label {
        position: relative;
        top: 90px;
    }
}